<template>
  <div class="about">
    
   <h2>Sides</h2>
   <p>
Fries 2.95<br/>
Add Kickin’ Seasoning .95<br/>
Add Gravy .95<br/>
Add Cheese Sauce .95<br/>
Macaroni & Cheese 4.95<br/>
Sweet Potato Fries 3.95<br/>
Add Honey .95<br/>
Coleslaw .95<br/>
Chips 1.95<br/>
Onion Rings 3.95<br/>
House Salad 2.95<br/>
Caesar Salad 3.95<br/>
</p>

<h2>Chicken Wings</h2>
<p>
5 - 6.25 10 - 11.95
Served with celery and Bleu cheese
</p>
<h2>Taco 10.95</h2>
<p>
Beef, salsa, sour cream, guacamole, jalapeños, scallions, Jack Cheddar cheese, fried tortilla bowl
</p>

<h2>Soups</h2>
<p>
Cup 3.95 Bowl 7.95<br/>
Seafood Bisque<br/>
Creamy bisque, puree of lobster, shrimp, scallops<br/>
Tuscan Sausage and Bean Soup<br/>
Broth soup, sausage, cannellini beans, kale<br/>
</p>
<h2>Milkshakes 5.00</h2>
<p>Vanilla, Chocolate, Strawberry, Peanut Butter</p>

<h2>Burgers</h2>
<p>
Classic Cheese Burger 6.55<br/>
<p>Topped with American cheese</p>
Bacon Burger 7.55<br/>
<p>Bacon, Cheddar cheese</p>
Mushroom & Swiss Burger 6.55<br/>
<p>Mushrooms, Swiss cheese</p>
The Sloppy Joe Burger 7.55<br/>
<p>Meat sauce, Cheddar cheese</p>
Cowboy Burger 7.55<br/>
<p>Onion rings, barbecue sauce, American cheese</p>
Bleu Burger 6.55<br/>
<p>Melted crumbly Bleu cheese</p>
The Hangover Burger 7.55<br/>
<p>Fried egg, bacon, potato, American cheese</p>
Baja Burger 8.55<br/>
<p>Salsa, Jack Cheddar cheese, guacamole, sour cream</p>
Pizza Burger 8.55<br/>
<p>Fried mozzarella, marinara, grated Parmesan</p>
Extra beef patty for any burger 2.95<br/>

<h2>Sandwiches</h2>
Buffalo Chicken 8.95
Fried chicken breast, wing sauce, Bleu cheese, lettuce, tomato, onion<br/><br/>

Salmon BLT 9.95
Salmon filet, bacon strips, lettuce, tomato, lemon dill mayo<br/><br/>

Mahi Sandwich 9.95
Mahi Mahi seasoned with Old Bay, lettuce, tomato, onion, lemon dill mayo<br/><br/>

Black Bean Burger 8.95
Black bean patty, salsa, guacamole, Jack Cheddar cheese, sour cream, lettuce, tomato, onion<br/><br/>

Pulled Pork Sandwich 8.95
Pork, barbecue sauce, Cheddar cheese, coleslaw<br/><br/>

Cajun Chicken Sandwich 8.95
Cajun dusted chicken, Burger’s Boom Sauce, lettuce, tomato, onion<br/><br/>

<h2>Appetizers</h2>
<p>
Fried Mozzarella, marinara 9.95<br/><br/>
Chicken Fingers, your choice of sauce 7.95<br/><br/>
Fried Pickles, Burger’s Boom Boom Sauce 7.95<br/><br/>
Calamari, marinara 9.95<br/><br/>
Crispy Shrimp, Burger’s Boom Boom Sauce 9.95<br/><br/>
Battered Zucchini, marinara 7.95<br/><br/>
Breaded Avocado, salsa 9.95<br/><br/>
    </p>
  </div>
</template>

<style>

.about{

color: white;
margin-left: 5vw;
margin-right: 5vw;
font-size: 1.5vw;


}

</style>
