<template>

<div class="Footer">
	<hr>
	<div class="column">
	<h1>Adress</h1>
	<p>The Burgers and Beer Joint
	117 Burnt Ash Hill
	London
	SE12 0AJ</p>
	</div>
	<div class="column">
	<h1>Opening Times</h1>
	<p>Monday to Thursday: 11am - 11pm
	Friday and Saturday: 11am - Midnight
	Sunday: Midday - 10:30pm</p>
	</div>
	<div class="column">
	<h1>Kitchen Opening Times</h1>
	<p>Monday to Thursday: 11am - 9:30pm
	Friday and Saturday: 11am - 10pm
	Sunday: Midday - 9pm</p> 
	</div>
	<div class="column">
	<h1>Contact us</h1>
	<p>T:020 8857 6607
	E:theburgersandbeerjoint@info.co.uk</p>
	</div>
</div>



</template>

<script>
export default {
  name: 'Footer'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.Footer
{
font-size: 1vw;
color: white;
}

.column {
    float: left;
    width: 22%;
    /* padding: 10px;*/
    padding: 1vw;
}

</style>
