<template>
  <div id="app">
    <div id="nav">
    <img src="./assets/logo2.png" width="120" height="130"><br>
      <router-link to="/">Home</router-link>
      <router-link to="/about">Menu</router-link>
      <router-link to="/contact">Contact</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style>
#app {

  font-family: "FuturaStd", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw;

}

@font-face {
	font-family: "FuturaStd";
	src: url('assets/FuturaStd.woff');
}

#nav {
  /*padding: 5vw;*/
  /*margin: -5vw;*/
  margin-bottom:0;
  width: 100%;
  background: black; 
  text-decoration: none;
}

#nav a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin: 2%;
}

html{
margin: 0;
padding: 0px;
background: black;
}





</style>
